/*
**	index.css
*/

@import "./[html-common]/style/fullpage/dialog-appInfo.css";
@import "./[html-common]/style/fullpage/ui-panel.css";
@import "./app/main-ui.css";
@import "./app/document-area.css";
@import "./app/grid.css";





html {
	--project-colour: skyblue;
	--transition-duration: 0.5s;


	--scheme-colour: oklab(from var(--project-colour) 0.80 a b / alpha);
	--html-background: var(--scheme-colour);
	--accent-colour: oklab(from var(--project-colour) 0.40 a b / alpha);
	--text-colour: black;


	background-color: var(--html-background);
	accent-color: var(--accent-colour);
	color: var(--text-colour);
	color-scheme: light;

	margin:0px;
	padding:0px;

	body {
		margin:0px;
		padding:0px;
	}
	scrollbar-width: none;

	font-size: 14px; /* 14px; */
	font-family:'Noto sans', sans-serif;

	body > svg { display:block; } /* fix the extra pixels on svg thing */
}




html[data-colourscheme="light"] {

	--scheme-colour: oklab(from var(--project-colour) 0.80 a b / alpha);
	--html-background: var(--scheme-colour);
	--accent-colour: oklab(from var(--project-colour) 0.40 a b / alpha);
	--text-colour: black;

	color-scheme: light;


	--background-lightness: 0.9;
	form {
		background-color:#eee9;
		border-color: #bbbb;
	}

}

html[data-colourscheme="dark"] {

	--scheme-colour: oklab(from var(--project-colour) 0.20 a b / alpha);
	--html-background: var(--scheme-colour);
	--accent-colour: oklab(from var(--project-colour) 0.60 a b / alpha);
	--text-colour: white;

	color-scheme: dark;

	--background-lightness: 0.2;

	form {
		background-color:#7779;
		border-color: #9999;
	}
}





@media (prefers-color-scheme:dark) { }
@media (prefers-color-scheme:light) { }
