/*
**	document-area.css
*/


.thoughtcloud-svg {
	width: 100vw;
	height: 100vh;
}


svg * {
	/* having difficulty getting transitions into the shadow dom at the moment, this is here for <use> elements until I can improve */
	transition: all ease-in var(--transition-duration);
}





.pageItem {
	fill:whitesmoke;


	stroke: grey;
	stroke-width:5px;
	rx:20px;
	ry:20px;
}




.pageItem {

	x:0;
	y:0;

	.itemHandle {
		cx:0;
		cy:0;
		r: 50px;
		&:hover { cursor: grab; }
	}

	overflow: visible;

	foreignObject {
		overflow: visible;
		/* fill: #eee; */
		font-size:4em;

		fill: oklch(from var(--project-colour) var(--background-lightness) c h / alpha);

		main {
			background-color: oklch(from var(--project-colour) var(--background-lightness) 0.01 h / alpha);
			width: 30em;
			overflow: visible;
			border-radius: 1em;
			padding:1em;
			border:1px dashed silver;
		}
		pre {
			white-space: pre-line;
		}


	}

}



