


h1:first-child, h2:first-child { margin-top:0ex; }




summary {
	cursor: pointer;
}

a { color: var(--accent); }

form {
	display: grid;
	border:1px solid silver;
	border-radius: 1ex;
	padding:1ex;
	margin: 1ex;

	font-size: 1em;

	h1 { font-size:3ex; margin-bottom: 1ex; }
	h2 { font-size:2ex; margin-top:2ex; margin-bottom:1ex; }
	h3 { font-size:1em; margin-top:1ex; margin-bottom:1ex; }


	h1 + h2 { margin-top: 0ex; }

	details { margin-top:1ex; margin-bottom: 0ex; }
	details > label { display: block; }


	hr { width:100%; }


	&:focus-within {
		transition-duration: 0s;
		outline: 2px solid var(--accent);
	}

	*:focus-visible {
		transition-duration: 0s;
		outline: 2px solid var(--accent);
	}




}/* form */




.control-group {

	&.control-left {
		position:absolute;
		left:0ex;
	}

	&.control-right {
		position:absolute;
		right:0ex;
	}

}



#dialog-appInfo::backdrop {
	background-image:  url('../favicon.svg');
}