@import "./main-ui.css";
@import "./document-area.css";





html {
	--project-colour: skyblue;

	--page-background-light: oklab(from var(--project-colour) 0.80 a b / alpha);
	--page-background-dark: oklab(from var(--project-colour) 0.20 a b / alpha);

	--accent-light: oklab(from var(--project-colour) 0.40 a b / alpha);
	--accent-dark: oklab(from var(--project-colour) 0.60 a b / alpha);

	--transition-duration: 0.5s;


	margin:0px;
	padding:0px;

	body {
		margin:0px;
		padding:0px;
	}
	scrollbar-width: none;

	font-size: 16px; /* 14px; */
	font-family:'Noto sans', sans-serif;

	body > svg { display:block; } /* fix the extra pixels on svg thing */
}

html[data-colourscheme="light"] {
	color-scheme: light;
	--accent: var(--accent-light);
	accent-color: var(--accent);
	background-color: var(--page-background-light);
	color: black;

	form {
		background-color:#eee9;
		border-color: #bbbb;
	}

}

html[data-colourscheme="dark"] {
	color-scheme: dark;
	--accent: var(--accent-dark);
	accent-color: var(--accent);
	background-color: var(--page-background-dark);
	color: white;

	form {
		background-color:#7779;
		border-color: #9999;
	}
}


@media (prefers-color-scheme:dark) {

}

@media (prefers-color-scheme:light) {

}
